@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

.hide-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

.leaflet-div-icon.leaflet-div-icon {
  border: 0;
  background: transparent;
}
