.leaflet-div-icon.leaflet-div-icon {
  border: 0;
  background: transparent;
}

.leaflet-bottom.leaflet-right {
  display: none;
}

.leaflet-top.leaflet-left {
  bottom: 16px;
  right: 16px;
  left: unset;
  top: unset;
}
